@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
}

<h3>Categories</h3>
<ul>
    @foreach (var category in Model)
    {
        <li>@category.CategoryName</li>
    }
</ul>
